{{#partial "htmHead"}}{{> htmHeadChoiceReportPage}}{{/partial}}
{{#partial "htmTitle"}}<title>{{choiceReport_.donorName}}Corporate Contribution Report</title>{{/partial}}
{{#partial "htmMeta"}}{{> htmMetaChoiceReportPage}}
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Alamance-Burlington County 2018-2019 Racial Equity Report Cards - Southern Coalition for Social Justice"/>
	<meta property="og:description" content="The Alamance-Burlington County 2018-2019 North Carolina Racial Equity Report Cards (RERCs) are listed below. For more information about the RERCs, visit the main page here. "/>
	<meta property="og:url" content="https://rerc.southerncoalition.org/page/report-card-by-agency?var=agencyId:alamance-burlington-county-in-north-carolina-nc&amp;var=reportCardStartYear:2018"/>
	<meta property="og:site_name" content="Southern Coalition for Social Justice" />
	<meta property="article:modified_time" content="2021-09-02T13:19:53.910345-04:00" />
	<meta property="og:image:alt" content=""/>
	<meta property="og:image" content="https://rerc.southerncoalition.org/page/report-card-image?var=agencyId:alamance-burlington-county-in-north-carolina-nc&amp;var=reportCardStartYear:2018"/>
	<meta name="twitter:card" content="summary_large_image" />
{{/partial}}
{{#partial "htmStyle"}}{{> htmStyleChoiceReportPage}}
    <link rel="stylesheet" href="{{staticBaseUrl}}/css/enUS/print.css" media="print"/>
{{/partial}}
{{#partial "htmScripts"}}{{> htmScriptsChoiceReportPage}}{{/partial}}
{{#partial "htmScript"}}{{> htmScriptChoiceReportPage}}{{/partial}}
{{#partial "htmBodyStart"}}{{> htmBodyStartChoiceReportPage}}{{/partial}}
{{#partial "htmBodyEnd"}}{{> htmBodyEndChoiceReportPage}}{{/partial}}
{{#partial "htmBody"}}
    <div class="w3-content ">
      <div class="w3-margin-bottom w3-white page-break-after ">
        <table class="" style="border-spacing: 0px; ">
          <tr>
            <td class="w3-mobile ">
              <table class="" style="border-spacing: 0px; ">
                <tr>
                  <td class="w3-padding ">
                    <img class="w3-image " style="width: 200px; " src="{{staticBaseUrl}}/logos/partner-logos/{{choiceReport_.donorLogoFilename}}"/>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="w3-mobile w3-text-gray ">
                    <div class="">CORPORATE CONTRIBUTION</div>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w3-mobile " style="padding: 0; vertical-align: top; ">
              <div class="">
                <img style="width: 300px; " src="{{staticBaseUrl}}/logos/CCPLogos[Denali].jpg"/>
              </div>
            </td>
          </tr>
        </table>
        <table class="" style="border-spacing: 0px; ">
          <tr>
            <td class="w3-mobile ">
              <table class="" style="border-spacing: 0px; ">
                <tr>
                  <td class="w3-padding w3-teal ">
                    <div class="w3-largest ">${{choiceReport_.donorYtd}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="w3-padding w3-teal ">
                    <div class="w3-largest ">YEAR-TO-DATE DONATIONS</div>
                  </td>
                </tr>
              </table>
            </td>
            <td class="w3-mobile ">
              <table class="" style="border-spacing: 0px; ">
                <tr>
                  <td class="w3-padding w3-teal ">
                    <div class="w3-largest ">${{choiceReport_.donorTotal}}</div>
                  </td>
                </tr>
                <tr>
                  <td class="w3-padding w3-teal ">
                    <div class="w3-largest ">TOTAL LIFETIME GIVING</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <div class="w3-padding-64 ">
          <div class="w3-large font-weight-bold ">NOTES FROM THE FIELD</div>
          <div class="">Text here</div>
        </div>

        <div class="w3-padding-64 ">
          <div class="w3-large font-weight-bold ">THANK YOU!</div>
          <div class="">Text here</div>
        </div>

        <table class="" style="border-spacing: 0px; ">
          <tr>
            <td class="w3-mobile ">
              <table class="" style="border-spacing: 0px; ">
                <tr>
                  <td class="w3-padding ">
                  </td>
                  <td class="w3-padding w3-text-light-gray ">
                    <div class="w3-small ">WEST JORDAN, UTAH | USA | 801.474.1937 | <span class="font-weight-bold ">CHOICEHUMANITARIAN</span>.ORG</div>
                  </td>
                </tr>
                <tr>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
{{/partial}}
{{#partial "htmBodyCount0"}}{{/partial}}
{{#partial "htmBodyCount1All"}}{{/partial}}
{{#partial "htmBodyCount1"}}{{/partial}}
{{#partial "htmBodyAll"}}{{/partial}}
{{#partial "htmForm"}}{{/partial}}
{{#partial "htmForms"}}{{/partial}}
{{#partial "htmBodySuggested"}}{{/partial}}
{{#partial "htmForm_putimportChoiceReport"}}{{/partial}}
{{#partial "htmForm_postChoiceReport"}}{{/partial}}
{{#partial "htmForm_patchChoiceReport"}}{{/partial}}
{{#partial "htmForm_searchpageChoiceReport"}}{{/partial}}
{{> ChoiceReportGenPage}}
